{% extends 'painel.html' %}

{% block link %}
<h1>Despesas</h1>
<nav>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="https://igps.net.br/painel/">Página inicial</a></li>
    <li class="breadcrumb-item">Painel de controle</li>
    <li class="breadcrumb-item">Financeiro</li>
    <li class="breadcrumb-item active">Despesas</li>
</ol>
</nav>
{% endblock %}

{% block content %}

<div class="col-12">
  <div class="card recent-sales overflow-auto">
    <div class="card-body">

      <table class="table table-borderless datatable">
        <thead>
          <tr>
            <th></th>
            <th scope="col">ID</th>
            <th scope="col">Descrição</th>
            <th scope="col">Valor</th>
            <th scope="col">Data</th>
            <th scope="col">Entidade</th>
            <th scope="col">Vínculo</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for d in despesas %}
          <tr>
            <th></th>
            <th scope="row"><a href="/ver_despesa/{{ c.id }}/">{{ d.id }}</a></th>
            <td><a href="/ver_despesa/{{ d.id }}/">{{ d.descricao }}</a></td>
            <td>{{ d.valor }}</td>
            <td>{{ d.data }}</td>
            <td>{{ d.entidade }}</td>
            <td>{{ d.nome_vinculo }}</td>
            <td><a href="/deletar_despesa/{{ d.id }}/" class="badge bg-danger">Apagar</a></td>
          </tr>
          {% endfor %}
        </tbody>
        
      </table>

    </div>

  </div>
</div>
<script>
  function autorizarConta(id) {
      fetch(`/autorizar_conta/${id}/`, {
          method: 'GET', // ou POST, se preferir
          headers: {
              'X-Requested-With': 'XMLHttpRequest'
          }
      })
      .then(response => {
          if (!response.ok) {
              throw new Error('Erro ao autorizar');
          }
          return response.text();
      })
      .then(() => {
          // Esconde o botão
          document.getElementById(`btn-pagar-${id}`).style.display = 'none';
  
          // Mostra o aviso
          document.getElementById(`status-${id}`).style.display = 'inline';
      })
      .catch(error => {
          alert('Não foi possível autorizar a despesa.');
          console.error(error);
      });
  }
  </script>
  
{% endblock %}