{% extends 'painel.html' %}

{% block link %}
      <h1>Fornecedor</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="https://igps.net.br/painel/">Página inicial</a></li>
          <li class="breadcrumb-item"><a href="https://igps.net.br/painel/">Painel de controle</a></li>
          <li class="breadcrumb-item"><a href="#">Financeiro</a></li>
          <li class="breadcrumb-item"><a href="#">Novo fornecedor</a></li>
        </ol>
      </nav>
      {% endblock %}

{% block content %}

<style>
    select, textarea, label, input {
        padding: 10px;
        width: 90%
    }
    form {
        width: 100%;
    }
</style>
                                
<form method="POST" enctype="multipart/form-data">{% csrf_token %}
    {% for f in fornecedor %}
    <div style="float: left; width: 100%">
        <div style="float: left; width: 30%;">
            CPF: <br>
            <input type="text" name="cpf" value="{{ f.cpf }}" required="required" id="cpf" placeholder="000.000.000-00">
        </div>
        <div style="float: left; width: 70%;">
            Nome Completo: <br>
            <input type="text" name="nome_completo" id="nome_completo" required="required" value="{{ f.nome_completo }}" placeholder="Maria Leopoldina">
            <br><br>
        </div>
    </div>
    
    <div style="float: left; width: 100%">
        <div style="float: left; width: 30%;">
            Telefone: <br>
            <input type="text" required="required" name="telefone" value="{{ f.telefone }}" id="telefone" placeholder="(00) 0 0000-0000">
            <br><br>
        </div>
        <div style="float: left; width: 70%;">
            E-mail: <br>
            <input type="email" required="required" name="email" value="{{ f.email }}" placeholder="seu@email.com">
            <br><br>
        </div>
    </div>

    <div style="float: left; width: 100%">
        <div style="float: left; width: 20%;">
            Número do contrato <br>
            <input type="text" name="n_contrato" value="{{ f.n_contrato }}" placeholder="01123/2025">
        </div>
        <div style="float: left; width: 80%;">
            Serviço prestado: <br>
            <textarea id="servico_prestado" name="servico_prestado">{{ f.servico_prestado }}</textarea>
            <br><br>
        </div>
    </div>

    <div style="float: left; width: 100%">
        <div style="float: left; width: 25%;">
            CEP: <br>
            <input type="text" required="required" id="cep" name="cep" value="{{ f.cep }}" placeholder="00000000">
            <br><br>
        </div>
        <div style="float: left; width: 75%;">
            Logradouro: <br>
            <input type="text" required="required" id="logradouro" value="{{ f.rua }}" name="rua" placeholder="Rua Sem Fim">
            <br><br>
        </div>
    </div>

    <div style="float: left; width: 100%">
        <div style="float: left; width: 50%;">
            Número do imóvel: <br>
            <input type="number" required="required" id="n" name="n" value="{{ f.n }}" placeholder="100">
            <br><br>
        </div>
        <div style="float: left; width: 50%;">
            Bairro: <br>
            <input type="text" required="required" id="bairro" name="bairro" value="{{ f.bairro }}" placeholder="Casa Forte">
            <br><br>
        </div>
    </div>

    <div style="float: left; width: 100%">
        <div style="float: left; width: 50%;">
            Município: <br>
            <input type="text" required="required" id="municipio" name="cidade" value="{{ f.cidade }}" placeholder="Fortaleza">
            <br><br>
        </div>
        <div style="float: left; width: 50%;">
            UF: <br>
            <input type="text" required="required" id="uf" name="uf" value="{{ f.uf }}" placeholder="PB">
            <br><br>
        </div>
    </div>

    <div style="float: left; width: 100%">
        <div style="float: left; width: 50%;">
            <br>
            <input style="display: none;" type="file" name="rg" accept="*.jpeg, *.png, *.jpg" id="anexo_rg">
            <b>RG:</b> <br>
            <label for="anexo_rg" id="campo-rg" style="border: 1px dashed black; background-color: white; width: 80%; height: 400px; text-align: center; margin: 0 auto">
                <br><br>
                <svg style="width: 50%; text-align: center; margin: 0 auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 242.7-73.4-73.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0l128-128c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L288 274.7 288 32zM64 352c-35.3 0-64 28.7-64 64l0 32c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-32c0-35.3-28.7-64-64-64l-101.5 0-45.3 45.3c-25 25-65.5 25-90.5 0L165.5 352 64 352zm368 56a24 24 0 1 1 0 48 24 24 0 1 1 0-48z"/></svg>
                <div style="width: 100%; height: 100px; background-color: #259; color: white"><br><h2>Substituir</h2></div>
            </label>
            <script>
                if (!('{{ f.rg }}' == '')) {
                    document.getElementById('campo-rg').innerHTML = '<iframe src="/media/{{ f.rg }}" id="rg-preview" style="width: 100%; height: 300px" alt=""></iframe><div style="width: 100%; height: 100px; background-color: #259; color: white"><br><h2>Substituir</h2></div>'
                }
                function readImageRG() {
                    if (this.files && this.files[0]) {
                        var file = new FileReader();
                        file.onload = function(e) {
                            document.getElementById('campo-rg').innerHTML = '<iframe src="" id="rg-preview" style="width: 100%; height: 370px" alt="" />'
                            document.getElementById("rg-preview").src = e.target.result;
                        };       
                        file.readAsDataURL(this.files[0]);
                    }
                }
                document.getElementById("anexo_rg").addEventListener("change", readImageRG, false);
            </script>
        </div>
        <div style="float: left; width: 50%;">
            <br>
            <input style="display: none;" type="file" name="comprovante_residencia" accept="*.jpeg, *.png, *.jpg" id="anexo_comprovante_residencia">
            <b>Comprovante de residência:</b> <br>
            <label for="anexo_comprovante_residencia" id="campo-comprovante_residencia" style="border: 1px dashed black; background-color: white; width: 80%; height: 400px; text-align: center; margin: 0 auto">
                <br><br>
                <svg style="width: 50%; text-align: center; margin: 0 auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 242.7-73.4-73.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0l128-128c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L288 274.7 288 32zM64 352c-35.3 0-64 28.7-64 64l0 32c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-32c0-35.3-28.7-64-64-64l-101.5 0-45.3 45.3c-25 25-65.5 25-90.5 0L165.5 352 64 352zm368 56a24 24 0 1 1 0 48 24 24 0 1 1 0-48z"/></svg>
                <div style="width: 100%; height: 100px; background-color: #259; color: white"><br><h2>Substituir</h2></div>
            </label>
            <script>
                if (!('{{ f.comprovante_residencia }}' == '')) {
                    document.getElementById('campo-comprovante_residencia').innerHTML = '<iframe src="/media/{{ f.comprovante_residencia }}" id="rg-preview" style="width: 100%; height: 300px" alt=""></iframe><div style="width: 100%; height: 100px; background-color: #259; color: white"><br><h2>Substituir</h2></div>'
                }
                function readImageComprovante() {
                    if (this.files && this.files[0]) {
                        var file = new FileReader();
                        file.onload = function(e) {
                            document.getElementById('campo-comprovante_residencia').innerHTML = '<iframe src="" id="comprovante_residencia-preview" style="width: 100%; height: 370px" alt="" />'
                            document.getElementById("comprovante_residencia-preview").src = e.target.result;
                        };       
                        file.readAsDataURL(this.files[0]);
                    }
                }
                document.getElementById("anexo_comprovante_residencia").addEventListener("change", readImageComprovante, false);
            </script>
            <br><br>
        </div>
    </div>
    {% endfor %}
    <div style="display: none;">
        <input id="long" name="long">
        <input id="lat" name="lat">
    </div>
    <br><br>
    <button style="padding: 10px; border-radius: 5px; border: 1px solid black; background-color: greenyellow;" id="botao"><i class="fas fa-save"></i> Salvar</button>
    <br><br>       
</form>
<script>
    if (!("{{ msg }}" == "")) {
        alert("{{ msg }}");
    }
</script>

{% endblock %}
