{% extends 'painel.html' %}

{% block link %}
      <h1>Cadastro - Nova conta bancária</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="https://igps.net.br/painel/">Página inicial</a></li>
          <li class="breadcrumb-item"><a href="https://igps.net.br/painel/">Painel de controle</a></li>
          <li class="breadcrumb-item"><a href="#">Financeiro</a></li>
          <li class="breadcrumb-item"><a href="#">Novo centro de custo</a></li>
        </ol>
      </nav>
      {% endblock %}

{% block content %}

<style>
    select, textarea, label, input {
        padding: 10px;
        width: 90%
    }
    form {
        width: 100%;
    }
</style>
                                
<form method="POST" enctype="multipart/form-data">{% csrf_token %}
    <div style="float: left; width: 100%">
        <div style="float: left; width: 50%;">
            <b>Agência:</b> <br>
            <input type="text" name="agencia" required="required" id="agencia" placeholder="012314">
        </div>
        <div style="float: left; width: 50%;">
            <b>Conta: (Com dígito)</b> <br>
            <input type="text" name="conta" required="required" id="conta" placeholder="01231324234-4">
            <br><br>
        </div>
    </div>
    <div style="float: left; width: 100%">
        <div style="float: left; width: 50%;">
            <b>Banco: (Número e nome)</b> <br>
            <input type="text" name="banco" required="required" placeholder="104 - Caixa Econômica Federal">
            <br><br>
        </div>
        <div style="float: left; width: 50%;">
            <b>Apelido:</b> <br>
            <input type="text" name="apelido" required="required" placeholder="Conta folha município X">
        </div>
    </div>
    <br><br>
    <button style="padding: 10px; border-radius: 5px; border: 1px solid black; background-color: greenyellow;" id="botao"><i class="fas fa-save"></i> Salvar</button>
    <br><br>       
</form>
<script>
    if (!("{{ msg }}" == "")) {
        alert("{{ msg }}");
    }
</script>

{% endblock %}
