{% extends 'painel.html' %}

{% block link %}
      <h1>Cadastro - Novo fornecedor</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="https://igps.net.br/painel/">Página inicial</a></li>
          <li class="breadcrumb-item"><a href="https://igps.net.br/painel/">Painel de controle</a></li>
          <li class="breadcrumb-item"><a href="#">Financeiro</a></li>
          <li class="breadcrumb-item"><a href="#">Novo fornecedor</a></li>
        </ol>
      </nav>
      {% endblock %}

{% block content %}

<style>
    select, textarea, label, input {
        padding: 10px;
        width: 90%
    }
    form {
        width: 100%;
    }
</style>
                                
<form method="POST" enctype="multipart/form-data">{% csrf_token %}
    <div style="float: left; width: 100%">
        <div style="float: left; width: 30%;">
            CNPJ: <br>
            <input type="text" onblur="consultarReceita(this.value)" name="cnpj" required="required" id="cnpj" placeholder="00.000.000/0000-00">
        </div>
        <div style="float: left; width: 70%;">
            Razão Social: <br>
            <input type="text" name="razao_social" id="nome" required="required" placeholder="DEVCYBER LTDA">
            <br><br>
        </div>
    </div>
    
    <div style="float: left; width: 100%">
        <div style="float: left; width: 30%;">
            Data de abertura: <br>
            <input type="text" required="required" id="abertura" name="data_abertura">
            <br><br>
        </div>
        <div style="float: left; width: 70%;">
            E-mail: <br>
            <input type="email" required="required" name="email" placeholder="seu@email.com">
            <br><br>
        </div>
    </div>

    <div style="float: left; width: 100%">
        <div style="float: left; width: 20%;">
            Telefone: <br>
            <input type="text" name="telefone" id="telefone" placeholder="(00) 0 0000-0000">
            <br><br>
        </div>
        <div style="float: left; width: 80%;">
            Atuação: <br>
            <textarea id="atuacao" name="atuacao"></textarea>
            <br><br>
        </div>
    </div>

    <div style="float: left; width: 100%">
        <div style="float: left; width: 25%;">
            CEP: <br>
            <input type="text" required="required" id="cep" name="cep" placeholder="00000000">
            <br><br>
        </div>
        <div style="float: left; width: 75%;">
            Logradouro: <br>
            <input type="text" required="required" id="logradouro" name="rua" placeholder="Rua Sem Fim">
            <br><br>
        </div>
    </div>

    <div style="float: left; width: 100%">
        <div style="float: left; width: 50%;">
            Número do imóvel: <br>
            <input type="number" required="required" id="n" name="n" placeholder="100">
            <br><br>
        </div>
        <div style="float: left; width: 50%;">
            Bairro: <br>
            <input type="text" required="required" id="bairro" name="bairro" placeholder="Casa Forte">
            <br><br>
        </div>
    </div>

    <div style="float: left; width: 100%">
        <div style="float: left; width: 50%;">
            Município: <br>
            <input type="text" required="required" id="municipio" name="cidade" placeholder="Fortaleza">
            <br><br>
        </div>
        <div style="float: left; width: 50%;">
            UF: <br>
            <input type="text" required="required" id="uf" name="uf" placeholder="PB">
            <br><br>
        </div>
    </div>

    <div style="float: left; width: 100%">
        <div style="float: left; width: 50%;">
            <br>
            <input style="display: none;" type="file" name="contrato_social" accept="*.jpeg, *.png, *.jpg" id="anexo_contrato_social">
            <b>Contrato social:</b> <br>
            <label for="anexo_contrato_social" id="campo-contrato_social" style="border: 1px dashed black; background-color: white; width: 80%; height: 400px; text-align: center; margin: 0 auto">
                <br><br>
                <svg style="width: 50%; text-align: center; margin: 0 auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 242.7-73.4-73.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0l128-128c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L288 274.7 288 32zM64 352c-35.3 0-64 28.7-64 64l0 32c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-32c0-35.3-28.7-64-64-64l-101.5 0-45.3 45.3c-25 25-65.5 25-90.5 0L165.5 352 64 352zm368 56a24 24 0 1 1 0 48 24 24 0 1 1 0-48z"/></svg>
            </label>
            <script>
                function readImageComprovantePagamento() {
                    if (this.files && this.files[0]) {
                        var file = new FileReader();
                        file.onload = function(e) {
                            document.getElementById('campo-contrato_social').innerHTML = '<iframe src="" id="contrato_social-preview" style="width: 100%; height: 370px" alt="" />'
                            document.getElementById("contrato_social-preview").src = e.target.result;
                        };       
                        file.readAsDataURL(this.files[0]);
                    }
                }
                document.getElementById("anexo_contrato_social").addEventListener("change", readImageComprovantePagamento, false);
            </script>
        </div>
        <div style="float: left; width: 50%;">
            <br>
            <input style="display: none;" type="file" name="cartao_cnpj" accept="*.jpeg, *.png, *.jpg" id="anexo_cartao_cnpj">
            <b>Cartão CNPJ:</b> <br>
            <label for="anexo_cartao_cnpj" id="campo-cartao_cnpj" style="border: 1px dashed black; background-color: white; width: 80%; height: 400px; text-align: center; margin: 0 auto">
                <br><br>
                <svg style="width: 50%; text-align: center; margin: 0 auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 242.7-73.4-73.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0l128-128c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L288 274.7 288 32zM64 352c-35.3 0-64 28.7-64 64l0 32c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-32c0-35.3-28.7-64-64-64l-101.5 0-45.3 45.3c-25 25-65.5 25-90.5 0L165.5 352 64 352zm368 56a24 24 0 1 1 0 48 24 24 0 1 1 0-48z"/></svg>
            </label>
            <script>
                function readImageNota() {
                    if (this.files && this.files[0]) {
                        var file = new FileReader();
                        file.onload = function(e) {
                            document.getElementById('campo-cartao_cnpj').innerHTML = '<iframe src="" id="cartao_cnpj-preview" style="width: 100%; height: 370px" alt="" />'
                            document.getElementById("cartao_cnpj-preview").src = e.target.result;
                        };       
                        file.readAsDataURL(this.files[0]);
                    }
                }
                document.getElementById("anexo_cartao_cnpj").addEventListener("change", readImageNota, false);
            </script>
            <br><br>
        </div>
    </div>
    
    <div style="display: none;">
        <input id="long" name="long">
        <input id="lat" name="lat">
    </div>
    <br><br>
    <button style="padding: 10px; border-radius: 5px; border: 1px solid black; background-color: greenyellow;" id="botao"><i class="fas fa-save"></i> Salvar</button>
    <br><br>       
</form>
{% extends 'painel.html' %}

{% block link %}
<!-- Biblioteca SheetJS para geração nativa de arquivos .xlsx via Browser -->
<script src="https://cdn.jsdelivr.net/npm/xlsx@0.18.5/dist/xlsx.full.min.min.js"></script>

<h1>Despesas</h1>
<nav>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="https://igps.net.br/painel/">Página inicial</a></li>
    <li class="breadcrumb-item">Painel de controle</li>
    <li class="breadcrumb-item">Financeiro</li>
    <li class="breadcrumb-item active">Despesas</li>
</ol>
</nav>
<b>Valor total: </b> R$ <i id="valor"></i> 
<b>Valor total de pagamentos pendentes: </b> R$ <i id="valor_aberto"></i> 

<a style="float: right; margin-left: 5px;" class="badge bg-danger" target="_blank" href="/relatorio_despesas/">Relatório GERAL em PDF</a> 
<a style="float: right; cursor: pointer;" class="badge bg-success" onclick="exportarParaExcel()">Relatório GERAL em Excel</a>

<script>x = 0; y = 0</script>
{% endblock %}

{% block content %}

<div class="col-12">
  <div class="card recent-sales overflow-auto">
    <div class="card-body">

      <table class="table table-borderless datatable" id="tabelaDespesas">
        <thead>
          <tr>
            <th></th>
            <th scope="col">ID</th>
            <th scope="col">Descrição</th>
            <th scope="col">Valor</th>
            <th scope="col">Data</th>
            <th scope="col">Entidade</th>
            <th scope="col">Vínculo (CNPJ)</th>
            <th scope="col">Razão Social</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for d in despesas %}
          {% if 'FINANCEIRO TOTAL' in permissao %}
          {% if d.comprovante_pagamento == '' or d.comprovante_pagamento == None or d.nota_fatura == '' or d.nota_fatura == None %}
          <tr title="Documento ausente">
            {% if d.autorizacao == '' or d.autorizacao == None %}
              <th style="background-color: #808080; text-align: center;"><a href="javascript:void(0)"
                id="btn-pagar-{{ d.id }}"
                onclick="autorizarConta({{ d.id }})"
                style="background-color: green; color: white; padding: 10px; text-decoration: none; border-radius: 5px;">
                Pagar
            </a>
            
            <span id="status-{{ d.id }}" style="display:none; color:white; font-weight:bold;">
              ✔ Autorizado
            </span>
           </th>
           {% else %}
           <th style="background-color: #808080; text-align: center;"><span id="status-{{ d.id }}" style="color:white; font-weight:bold;">
            ✔ Autorizado
          </span></th>
           {% endif %}
           {% endif %}
            <th style="background-color: #808080;" scope="row"><a style="color: white" href="/ver_despesa/{{ c.id }}/">{{ d.id }}</a></th>
            <td style="background-color: #808080;"><a style="color: white" href="/ver_despesa/{{ d.id }}/">{{ d.descricao }}</a></td>
            <td style="background-color: #808080; color: white">{{ d.valor }}</td>
            <td style="background-color: #808080; color: white">{{ d.data }}</td>
            <td style="background-color: #808080; color: white">{{ d.entidade }}</td>
            <td style="background-color: #808080; color: white" class="cnpj-cell">{{ d.vinculo }}</td>
            <td style="background-color: #808080; color: white" id="razao-social-{{ d.id }}" class="razao-social-cell">
              <small><i>Carregando...</i></small>
            </td>
            <td style="background-color: #808080; color: white"><a href="/deletar_despesa/{{ d.id }}/" class="badge bg-danger">Apagar</a></td>
            <script>
              y = y + Number.parseFloat('{{ d.valor }}'.replace(/\./g, '').replace(',', '.'))
            </script>
          </tr>
          {% else %}
          <tr>
            <th></th>
            <th scope="row"><a href="/ver_despesa/{{ c.id }}/">{{ d.id }}</a></th>
            <td><a href="/ver_despesa/{{ d.id }}/">{{ d.descricao }}</a></td>
            <td>{{ d.valor }}</td>
            <td>{{ d.data }}</td>
            <td>{{ d.entidade }}</td>
            <td class="cnpj-cell">{{ d.vinculo }}</td>
            <td id="razao-social-{{ d.id }}" class="razao-social-cell">
              <small><i>Carregando...</i></small>
            </td>
            <td><a href="/deletar_despesa/{{ d.id }}/" class="badge bg-danger">Apagar</a></td>
          </tr>
          {% endif %}
          <script>
            x = x + Number.parseFloat('{{ d.valor }}'.replace(/\./g, '').replace(',', '.'))
          </script>
          {% endfor %}
          <script>
            x = Math.round(x, 2)
            document.getElementById('valor').textContent = String(x.toFixed(2))

            y = Math.round(y, 2)
            document.getElementById('valor_aberto').textContent = String(y.toFixed(2))
          </script>
        </tbody>
      </table>

    </div>
  </div>
</div>

<script>
// Cache em memória para não consultar o mesmo CNPJ várias vezes na API
const cacheCNPJ = {};

function buscarRazaoSocial(cnpj, elementId) {
    if (!cnpj) {
        document.getElementById(elementId).innerText = "-";
        return;
    }

    const cnpjLimpo = cnpj.replace(/\D/g, '');

    if (cnpjLimpo.length !== 14) {
        document.getElementById(elementId).innerText = "-";
        return;
    }

    // Se já foi buscado anteriormente, aproveita o resultado
    if (cacheCNPJ[cnpjLimpo]) {
        document.getElementById(elementId).innerText = cacheCNPJ[cnpjLimpo];
        return;
    }

    fetch('/consulta_cnpj/', {
        method: 'POST',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ cnpj: cnpjLimpo })
    })
    .then(res => res.json())
    .then(data => {
        const nomeSocial = data.nome || "Não encontrado";
        cacheCNPJ[cnpjLimpo] = nomeSocial;
        document.getElementById(elementId).innerText = nomeSocial;
    })
    .catch(err => {
        console.error("Erro ao buscar CNPJ:", err);
        document.getElementById(elementId).innerText = "Erro na consulta";
    });
}

// Inicializa a busca de CNPJs de todas as linhas ao carregar a página
document.addEventListener("DOMContentLoaded", function() {
    {% for d in despesas %}
        buscarRazaoSocial("{{ d.vinculo }}", "razao-social-{{ d.id }}");
    {% endfor %}
});

function autorizarConta(id) {
    fetch(`/autorizar_conta/${id}/`, {
        method: 'GET',
        headers: {
            'X-Requested-With': 'XMLHttpRequest'
        }
    })
    .then(response => {
        if (!response.ok) throw new Error('Erro ao autorizar');
        return response.text();
    })
    .then(() => {
        document.getElementById(`btn-pagar-${id}`).style.display = 'none';
        document.getElementById(`status-${id}`).style.display = 'inline';
    })
    .catch(error => {
        alert('Não foi possível autorizar a despesa.');
        console.error(error);
    });
}

// Exportação para Excel incluindo a Razão Social capturada
function exportarParaExcel() {
    const tabela = document.getElementById("tabelaDespesas");
    const dados = [];

    // Cabeçalho ajustado
    const cabecalho = ["ID", "Descrição", "Valor", "Data", "Entidade", "Vínculo (CNPJ)", "Razão Social"];
    dados.push(cabecalho);

    const linhas = tabela.querySelectorAll("tbody tr");
    linhas.forEach(linha => {
        const colunas = linha.querySelectorAll("th, td");
        
        if (colunas.length >= 8) {
            // Ajuste do offset se a primeira coluna contiver o botão 'Pagar'
            let offset = colunas.length > 8 ? 1 : 1; 

            let id = colunas[offset].innerText.trim();
            let descricao = colunas[offset + 1].innerText.trim();
            let valor = colunas[offset + 2].innerText.trim();
            let data = colunas[offset + 3].innerText.trim();
            let entidade = colunas[offset + 4].innerText.trim();
            let vinculo = colunas[offset + 5].innerText.trim();
            let razaoSocial = colunas[offset + 6].innerText.trim();

            dados.push([id, descricao, valor, data, entidade, vinculo, razaoSocial]);
        }
    });

    const wb = XLSX.utils.book_new();
    const ws = XLSX.utils.aoa_to_sheet(dados);

    // Larguras das colunas no arquivo Excel
    ws['!cols'] = [
        { wch: 10 }, // ID
        { wch: 35 }, // Descrição
        { wch: 15 }, // Valor
        { wch: 12 }, // Data
        { wch: 25 }, // Entidade
        { wch: 20 }, // Vínculo (CNPJ)
        { wch: 40 }  // Razão Social
    ];

    XLSX.utils.book_append_sheet(wb, ws, "Despesas");
    XLSX.writeFile(wb, "relatorio_despesas.xlsx");
}
</script>

{% if msg %}
<script>
    alert("{{ msg }}");
</script>
{% endif %}

{% endblock %}